<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz App</title>
  <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
  <div class="container">
    <h1>Quizzes</h1>
    <p>Find all available quizzes here</h1>
   
    <div class="quizzes">
      <% quizzes.forEach(quiz => { %>
        <a href="./quiz?name=<%- quiz.slug %>"><button><%= quiz.title %></button></a>
      <% }) %>
    </div>
  </div>
</body>
</html>